  <!-- <link rel="stylesheet" href="./boton.component.css"> -->

    <section>
       <h1>Precio</h1> 
       <p>Adquiere uno de nuestros planes en promocíon</p>
       <div class="cuadros">
        <div class="row ">
        <div class="col-3 ">
       <div class="card">
        <h5 class="card-header">Libre</h5>
        <div class="card-body">
          <h5 class="card-title"><b>$0/mes</b></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-outline-primary ">Registrate gratis</a>
        </div>
      </div>
       </div>
        <div class="col-3">
       <div class="card">
        <h5 class="card-header">Pro</h5>
        <div class="card-body">
          <h5 class="card-title"><b>$15/mes</b></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        </div>
        <div class="col-3">
       <div class="card">
        <h5 class="card-header">Empresa</h5>
        <div class="card-body">
          <h5 class="card-title"><b>$29/mes</b></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        </div>
       </div>
       </div>
    </section>

